Repository CliMA/Oceananigans.jl, pull requests merged in 2021-12, with the labels that each got.

#2063 Makes FieldBoundaryConditions mutable
  src/BoundaryConditions/field_boundary_conditions.jl
Labels: user interface/experience 💻

#1994 `IsopycnalSkewSymmetricDiffusivity` Closure
  Project.toml
  docs/Manifest.toml
  src/BuoyancyModels/buoyancy_tracer.jl
  src/Coriolis/f_plane.jl
  src/Fields/field_tuples.jl
  src/Grids/Grids.jl
  src/Grids/grid_generation.jl
  src/Grids/rectilinear_grid.jl
  src/Models/HydrostaticFreeSurfaceModels/HydrostaticFreeSurfaceModels.jl
  src/Models/HydrostaticFreeSurfaceModels/single_column_model_mode.jl
  src/Models/HydrostaticFreeSurfaceModels/slice_ensemble_model_mode.jl
  src/Models/HydrostaticFreeSurfaceModels/update_hydrostatic_free_surface_model_state.jl
  src/Models/NonhydrostaticModels/update_hydrostatic_pressure.jl
  src/Models/NonhydrostaticModels/update_nonhydrostatic_model_state.jl
  src/Oceananigans.jl
  src/Operators/interpolation_operators.jl
  src/OutputReaders/field_dataset.jl
  src/OutputReaders/field_time_series.jl
  src/OutputWriters/windowed_time_average.jl
  src/TurbulenceClosures/TurbulenceClosures.jl
  src/TurbulenceClosures/closure_tuples.jl
  src/TurbulenceClosures/isopycnal_rotation_tensor_components.jl
  src/TurbulenceClosures/turbulence_closure_implementations/CATKEVerticalDiffusivities/CATKEVerticalDiffusivities.jl
  src/TurbulenceClosures/turbulence_closure_implementations/CATKEVerticalDiffusivities/turbulent_kinetic_energy_equation.jl
  src/TurbulenceClosures/turbulence_closure_implementations/convective_adjustment_vertical_diffusivity.jl
  src/TurbulenceClosures/turbulence_closure_implementations/isopycnal_skew_symmetric_diffusivity.jl
  src/TurbulenceClosures/turbulence_closure_implementations/leith_enstrophy_diffusivity.jl
  src/Utils/schedules.jl
  test/runtests.jl
  test/test_ensemble_hydrostatic_free_surface_models.jl
  test/test_output_readers.jl
  test/test_schedules.jl
  test/test_time_stepping.jl
  validation/mesoscale_turbulence/abernathey_channel.jl
  validation/mesoscale_turbulence/baroclinic_adjustment.jl
  validation/mesoscale_turbulence/eddying_channel.jl
  validation/mesoscale_turbulence/eddying_channel_nonhydrostatic.jl
  validation/mesoscale_turbulence/zonally_averaged_abernathey_channel.jl
  validation/mesoscale_turbulence/zonally_averaged_baroclinic_adjustment.jl
  validation/mesoscale_turbulence/zonally_averaged_channel.jl
  validation/vertical_mixing_closures/convective_adjustment_windy_convection.jl
  validation/vertical_mixing_closures/many_convective_adjustment_windy_convection.jl
  validation/vertical_mixing_closures/many_tke_based_free_convection.jl
  validation/vertical_mixing_closures/tke_based_wind_mixing.jl
Labels: feature 🌟, turbulence closures 🎐

#2023 "Near-global" latitude longitude realistic ocean setup
  src/BuoyancyModels/nonlinear_equation_of_state.jl
  src/CubedSpheres/conformal_cubed_sphere_grid.jl
  src/Grids/grid_utils.jl
  src/ImmersedBoundaries/ImmersedBoundaries.jl
  src/ImmersedBoundaries/conditional_fluxes.jl
  src/ImmersedBoundaries/grid_fitted_immersed_boundaries.jl
  src/ImmersedBoundaries/immersed_grid_metrics.jl
  src/ImmersedBoundaries/mask_immersed_field.jl
  src/Models/HydrostaticFreeSurfaceModels/compute_vertically_integrated_lateral_areas.jl
  src/Models/HydrostaticFreeSurfaceModels/implicit_free_surface.jl
  src/Models/HydrostaticFreeSurfaceModels/update_hydrostatic_free_surface_model_state.jl
  src/Operators/Operators.jl
  src/Operators/spacings_and_areas_and_volumes.jl
  test/runtests.jl
  test/test_hydrostatic_free_surface_immersed_boundaries_apply_surf_bc.jl
  test/test_hydrostatic_free_surface_immersed_boundaries_vertical_integrals.jl
  validation/near_global_lat_lon/analyze_bathymetry_forcing.jl
  validation/near_global_lat_lon/annual_cycle_earth_bathymetry.jl
  validation/near_global_lat_lon/annual_cycle_forcing.jl
  validation/near_global_lat_lon/constant_forcing_earth_bathymetry.jl
  validation/near_global_lat_lon/cyclic_interpolate_utils.jl
  validation/near_global_lat_lon/freely_decaying_barotropic_turbulence.jl
  validation/near_global_lat_lon/visualize.jl
  validation/near_global_lat_lon/visualize_annual_cycle_solution.jl
Labels: science 🌊

#2093 Avoid computing hydrostatic pressure when z is Flat
  src/Fields/field_tuples.jl
  src/Models/NonhydrostaticModels/NonhydrostaticModels.jl
  src/Models/NonhydrostaticModels/update_hydrostatic_pressure.jl
  src/Models/NonhydrostaticModels/update_nonhydrostatic_model_state.jl
  src/Models/NonhydrostaticModels/velocity_and_tracer_tendencies.jl
  src/Operators/derivative_operators.jl
Labels: performance 🏍️

#2096 Add `Solvers` docstrings in Docs/Library + better docstring for `ImplicitFreeSurface`
  docs/src/appendix/library.md
  src/Models/HydrostaticFreeSurfaceModels/implicit_free_surface.jl
  src/Models/HydrostaticFreeSurfaceModels/prescribed_hydrostatic_velocity_fields.jl
  src/Solvers/batched_tridiagonal_solver.jl
  src/Solvers/fft_based_poisson_solver.jl
  src/Solvers/preconditioned_conjugate_gradient_solver.jl
Labels: documentation 📜

#2104 Remove duplicate `size` method redefinitions
  src/Grids/Grids.jl
  src/Grids/grid_utils.jl
Labels: grids 🗺️

#2103 More tests for boundary conditions
  test/test_boundary_conditions_integration.jl
Labels: testing 🧪, boundary conditions 🏓

#2114 Even clearer `show(io, ::AbstractGrid)`
  docs/src/model_setup/grids.md
  src/Grids/latitude_longitude_grid.jl
  src/Grids/rectilinear_grid.jl
Labels: grids 🗺️, user interface/experience 💻

#2119 Remove `length(::AbstractGrid)` and tidies up grid-related utility functions
  src/Grids/Grids.jl
  src/Grids/grid_utils.jl
Labels: grids 🗺️

#2108 Check that grid halo is sufficiently large in `HydrostaticFreeSurfaceModel` constructor
  src/CubedSpheres/conformal_cubed_sphere_grid.jl
  src/Grids/automatic_halo_sizing.jl
  src/Grids/grid_utils.jl
  src/Models/HydrostaticFreeSurfaceModels/hydrostatic_free_surface_model.jl
  src/Models/NonhydrostaticModels/nonhydrostatic_model.jl
  src/TurbulenceClosures/turbulence_closure_implementations/horizontally_curvilinear_anisotropic_biharmonic_diffusivity.jl
  test/test_hydrostatic_free_surface_immersed_boundaries_vertical_integrals.jl
  test/test_hydrostatic_free_surface_models.jl
Labels: user interface/experience 💻

#2112 Removes warning from `HydrostaticFreeSurfaceModel`
  docs/src/model_setup/buoyancy_and_equation_of_state.md
  src/Models/HydrostaticFreeSurfaceModels/hydrostatic_free_surface_model.jl
Labels: models 🧫

#2105 Matrix based implicit solver
  Manifest.toml
  Project.toml
  benchmark/Manifest.toml
  benchmark/Project.toml
  benchmark/benchmark_hydrostatic_model.jl
  benchmark/benchmark_spai_preconditioner.jl
  src/Grids/latitude_longitude_grid.jl
  src/Grids/rectilinear_grid.jl
  src/ImmersedBoundaries/ImmersedBoundaries.jl
  src/Models/HydrostaticFreeSurfaceModels/HydrostaticFreeSurfaceModels.jl
  src/Models/HydrostaticFreeSurfaceModels/fft_based_implicit_free_surface_solver.jl
  src/Models/HydrostaticFreeSurfaceModels/implicit_free_surface.jl
  src/Models/HydrostaticFreeSurfaceModels/matrix_implicit_free_surface_solver.jl
  src/Models/HydrostaticFreeSurfaceModels/pcg_implicit_free_surface_solver.jl
  src/Solvers/Solvers.jl
  src/Solvers/matrix_iterative_solver.jl
  src/Solvers/matrix_solver_utils.jl
  src/Solvers/spai_preconditioner.jl
  src/Solvers/sparse_preconditioners.jl
  src/Utils/kernel_launching.jl
  test/runtests.jl
  test/test_hydrostatic_free_surface_immersed_boundaries_congrad_solve.jl
  test/test_hydrostatic_free_surface_models.jl
  test/test_implicit_free_surface_solver.jl
  test/test_matrix_poisson_solver.jl
  validation/implicit_free_surface/geostrophic_adjustment_test.jl
  validation/near_global_lat_lon/annual_cycle_earth_bathymetry.jl
  validation/near_global_lat_lon/annual_cycle_forcing.jl
  validation/near_global_lat_lon/constant_forcing_earth_bathymetry.jl
  validation/near_global_lat_lon/visualize_annual_cycle_solution.jl
Labels: numerics 🧮
