Repository CliMA/Oceananigans.jl, pull requests merged in 2023-01, with the labels that each got.

#2836 Add metric calculation in the face grid of the cubed sphere + general clean up of CubedSphere code
  benchmark/benchmark_hydrostatic_model.jl
  src/Coriolis/hydrostatic_spherical_coriolis.jl
  src/CubedSpheres/CubedSpheres.jl
  src/CubedSpheres/conformal_cubed_sphere_grid.jl
  src/CubedSpheres/cubed_sphere_faces.jl
  src/CubedSpheres/cubed_sphere_kernel_launching.jl
  src/CubedSpheres/cubed_sphere_utils.jl
  src/CubedSpheres/immersed_conformal_cubed_sphere_grid.jl
  src/Grids/Grids.jl
  src/Grids/conformal_cubed_sphere_face_grid.jl
  src/Grids/grid_utils.jl
  src/Grids/orthogonal_spherical_shell_grid.jl
  src/Grids/zeros_and_ones.jl
  src/Oceananigans.jl
  src/Operators/spacings_and_areas_and_volumes.jl
  src/Operators/vorticity_operators.jl
  test/test_grids.jl
  validation/cubed_sphere_surface_gravity_waves/surface_gravity_waves_on_face.jl
Labels: cubed sphere 🧊🌎

#2864 Update CATKE numerics and implement MEWSVerticalDiffusivity for mesoscale interfacial form stress
  Project.toml
  src/Coriolis/beta_plane.jl
  src/Coriolis/f_plane.jl
  src/Fields/regridding_fields.jl
  src/Models/HydrostaticFreeSurfaceModels/calculate_hydrostatic_free_surface_tendencies.jl
  src/Models/HydrostaticFreeSurfaceModels/hydrostatic_free_surface_ab2_step.jl
  src/Models/HydrostaticFreeSurfaceModels/hydrostatic_free_surface_tendency_kernel_functions.jl
  src/Models/HydrostaticFreeSurfaceModels/update_hydrostatic_free_surface_model_state.jl
  src/TurbulenceClosures/TurbulenceClosures.jl
  src/TurbulenceClosures/abstract_scalar_diffusivity_closure.jl
  src/TurbulenceClosures/closure_kernel_operators.jl
  src/TurbulenceClosures/turbulence_closure_implementations/CATKEVerticalDiffusivities/CATKEVerticalDiffusivities.jl
  src/TurbulenceClosures/turbulence_closure_implementations/CATKEVerticalDiffusivities/mixing_length.jl
  src/TurbulenceClosures/turbulence_closure_implementations/CATKEVerticalDiffusivities/turbulent_kinetic_energy_equation.jl
  src/TurbulenceClosures/turbulence_closure_implementations/mews_vertical_diffusivity.jl
  validation/mesoscale_turbulence/zonally_averaged_baroclinic_adjustment.jl
Labels: numerics 🧮, turbulence closures 🎐

#2870 Don't push docs preview
  docs/make.jl
Labels: package 📦

#2817 Improve immersed boundary performance
  src/Architectures.jl
  src/BoundaryConditions/fill_halo_regions.jl
  src/Grids/latitude_longitude_grid.jl
  src/ImmersedBoundaries/ImmersedBoundaries.jl
  src/ImmersedBoundaries/active_cells_map.jl
  src/ImmersedBoundaries/mask_immersed_field.jl
  src/Models/HydrostaticFreeSurfaceModels/calculate_hydrostatic_free_surface_tendencies.jl
  src/Models/HydrostaticFreeSurfaceModels/hydrostatic_free_surface_model.jl
  src/Models/NonhydrostaticModels/calculate_nonhydrostatic_tendencies.jl
  src/Models/NonhydrostaticModels/nonhydrostatic_model.jl
  src/MultiRegion/multi_region_grid.jl
  src/MultiRegion/multi_region_models.jl
  src/MultiRegion/x_partitions.jl
  src/Utils/kernel_launching.jl
  src/Utils/multi_region_transformation.jl
  validation/near_global_lat_lon/near_global_quarter_degree.jl
Labels: performance 🏍️, GPU 👾, immersed boundaries ⛰️

#2752 Changes to naming in the `TurbulenceClosures` module
  src/Models/ShallowWaterModels/shallow_water_diffusion_operators.jl
  src/TurbulenceClosures/abstract_scalar_biharmonic_diffusivity_closure.jl
  src/TurbulenceClosures/abstract_scalar_diffusivity_closure.jl
  src/TurbulenceClosures/turbulence_closure_implementations/anisotropic_minimum_dissipation.jl
  src/TurbulenceClosures/turbulence_closure_implementations/leith_enstrophy_diffusivity.jl
  src/TurbulenceClosures/turbulence_closure_implementations/smagorinsky_lilly.jl
  src/TurbulenceClosures/turbulence_closure_utils.jl
Labels: turbulence closures 🎐

#2862 Use Julia v1.8.5
  .buildkite/pipeline.yml
  .buildkite/validation-pipeline.yml
  Dockerfile
Labels: package 📦

#2886 Correct filename for internal wave movie
  docs/make.jl
  examples/baroclinic_adjustment.jl
  examples/internal_wave.jl
  examples/ocean_wind_mixing_and_convection.jl
Labels: documentation 📜
