Repository CliMA/Oceananigans.jl, pull requests merged in 2025-07, with the labels that each got.

#4212 Don't initialize callback every time_step
  src/Simulations/run.jl
  test/test_simulations.jl
Labels: cleanup 🧹

#4598 Remove default particles from checkpointing; also only add time stepper if needed
  src/Models/LagrangianParticleTracking/LagrangianParticleTracking.jl
  src/Models/Models.jl
  src/OutputWriters/checkpointer.jl
Labels: output 💾

#4640 Minor enhancement to show(io, ::OutputWriters)
  ext/OceananigansNCDatasetsExt.jl
  src/OutputWriters/jld2_writer.jl
Labels: output 💾, user interface/experience 💻

#4642 Add NetCDFWriter docstring in Docs/Appendix/Library
  docs/make.jl
  docs/src/appendix/library.md
  ext/OceananigansNCDatasetsExt.jl
Labels: documentation 📜, output 💾

#4649 Bump the compat entry for AMDGPU.jl
  Project.toml
Labels: GPU 👾, extensions 🧬

#4646 Add `using CUDA` in benchmark tests + remove extra CUDA-specific methods from tests
  .buildkite/pipeline-benchmarks.yml
  test/benchmark_tests.jl
  test/dependencies_for_poisson_solvers.jl
  test/dependencies_for_runtests.jl
  test/regression_tests/ocean_large_eddy_simulation_regression_test.jl
  test/regression_tests/rayleigh_benard_regression_test.jl
  test/test_abstract_operations.jl
  test/test_biogeochemistry.jl
  test/test_broadcasting.jl
  test/test_buoyancy.jl
  test/test_checkpointer.jl
  test/test_computed_field.jl
  test/test_conditional_reductions.jl
  test/test_conjugate_gradient_poisson_solver.jl
  test/test_cubed_sphere_circulation.jl
  test/test_cubed_sphere_halo_exchange.jl
  test/test_diagnostics.jl
  test/test_distributed_models.jl
  test/test_dynamics.jl
  test/test_field.jl
  test/test_field_scans.jl
  test/test_halo_regions.jl
  test/test_immersed_advection.jl
  test/test_immersed_boundary_grid.jl
  test/test_implicit_free_surface_solver.jl
  test/test_jld2_writer.jl
  test/test_lagrangian_particle_tracking.jl
  test/test_matrix_poisson_solver.jl
  test/test_multi_region_cubed_sphere.jl
  test/test_multi_region_poisson_solver.jl
  test/test_netcdf_writer.jl
  test/test_preconditioned_conjugate_gradient_solver.jl
  test/test_regrid.jl
  test/test_time_stepping.jl
  test/test_tripolar_grid.jl
  test/test_turbulence_closures.jl
Labels: GPU 👾, extensions 🧬, benchmark performance

#4652 @allowscalar when indexing `FieldTimeSeries` times on the GPU
  Project.toml
  src/OutputReaders/field_time_series_indexing.jl
Labels: GPU 👾, output 💾

#4650 Generalize Docs/Simulation tips section for any GPU architectures
  Project.toml
  docs/Project.toml
  docs/src/simulation_tips.md
  ext/OceananigansAMDGPUExt.jl
  src/Utils/multi_region_transformation.jl
Labels: GPU 👾, documentation 📜

#4662 Fix for distributed unit tests
  src/DistributedComputations/distributed_fields.jl
Labels: GPU 👾, testing 🧪, distributed 🕸️

#4654 `NonhydrostaticModel` on a `LatitudeLongitudeGrid`
  src/Models/NonhydrostaticModels/NonhydrostaticModels.jl
  test/test_nonhydrostatic_models.jl
Labels: feature 🌟

#4673 Filter warnings from doctest output
  docs/make.jl
  docs/oceananigans.bib
  docs/src/model_setup/boundary_conditions.md
  src/Coriolis/non_traditional_beta_plane.jl
  src/DistributedComputations/distributed_grids.jl
  src/Grids/latitude_longitude_grid.jl
  src/Grids/rectilinear_grid.jl
  src/Models/HydrostaticFreeSurfaceModels/SplitExplicitFreeSurfaces/split_explicit_free_surface.jl
  src/OrthogonalSphericalShellGrids/distributed_tripolar_grid.jl
  src/OrthogonalSphericalShellGrids/tripolar_grid.jl
  src/TimeSteppers/runge_kutta_3.jl
  src/TimeSteppers/split_hydrostatic_runge_kutta_3.jl
  src/TurbulenceClosures/turbulence_closure_implementations/Smagorinskys/dynamic_coefficient.jl
  src/TurbulenceClosures/turbulence_closure_implementations/Smagorinskys/lilly_coefficient.jl
  src/TurbulenceClosures/turbulence_closure_implementations/TKEBasedVerticalDiffusivities/catke_vertical_diffusivity.jl
  src/TurbulenceClosures/turbulence_closure_implementations/TKEBasedVerticalDiffusivities/tke_dissipation_vertical_diffusivity.jl
  src/TurbulenceClosures/turbulence_closure_implementations/anisotropic_minimum_dissipation.jl
  src/TurbulenceClosures/turbulence_closure_implementations/leith_enstrophy_diffusivity.jl
  src/Utils/multi_region_transformation.jl
Labels: testing 🧪, documentation 📜

#4685 Make nested functions in conditional differences immersed metric-aware
  src/ImmersedBoundaries/conditional_differences.jl
Labels: numerics 🧮, immersed boundaries ⛰️
