Repository CliMA/Oceananigans.jl, pull requests merged in 2025-05, with the labels that each got.

#4469 Better arg name: size -> side
  src/BoundaryConditions/polar_boundary_condition.jl
Labels: cleanup 🧹

#4471 Add Atkinson et al 2024 in papers list
  docs/src/index.md
Labels: documentation 📜

#4479 Interpret `u, v` within `set!` on OrthogonalSphericalShellGrid as an extrinsic vector by default
  src/Fields/set!.jl
  src/Models/HydrostaticFreeSurfaceModels/set_hydrostatic_free_surface_model.jl
  test/test_orthogonal_spherical_shell_time_stepping.jl
Labels: user interface/experience 💻, cubed sphere 🧊🌎

#4295 Store computational coordinates in OrthogonalSphericalShellGrid for non-uniform conformal mappings
  src/Grids/conformal_cubed_sphere_panel.jl
  src/Grids/orthogonal_spherical_shell_grid.jl
  src/MultiRegion/cubed_sphere_grid.jl
  src/Oceananigans.jl
Labels: grids 🗺️, cubed sphere 🧊🌎

#4484 Add extrema(c::AbstractField)
  src/Fields/field.jl
  test/test_field.jl
Labels: user interface/experience 💻

#4511 Add Bisits et al. 2025
  docs/src/index.md
Labels: documentation 📜

#4500 Fix incorrect type parameter count in ConformalCubedSpherePanel and ConformalCubedSpherePanelGrid definitions
  src/Grids/Grids.jl
  src/MultiRegion/cubed_sphere_grid.jl
  src/Operators/vorticity_operators.jl
  src/OrthogonalSphericalShellGrids/OrthogonalSphericalShellGrids.jl
  src/OrthogonalSphericalShellGrids/conformal_cubed_sphere_panel.jl
  test/test_biogeochemistry.jl
  test/test_grids.jl
  test/test_multi_region_cubed_sphere.jl
  validation/orthogonal_spherical_shell_grid/splash.jl
Labels: cubed sphere 🧊🌎

#4501 Fix out-of-bounds access in vorticity computation at halo boundaries on conformal cubed sphere panels
  src/OrthogonalSphericalShellGrids/conformal_cubed_sphere_panel.jl
Labels: cubed sphere 🧊🌎

#4521 Fix a bug in the handshake macro
  src/DistributedComputations/distributed_macros.jl
Labels: bug 🐞, distributed 🕸️

#4494 Changes default AMD poincare coefficient
  docs/oceananigans.bib
  docs/src/model_setup/turbulent_diffusivity_closures_and_les_models.md
  src/TurbulenceClosures/turbulence_closure_implementations/anisotropic_minimum_dissipation.jl
  test/test_nonhydrostatic_regression.jl
  validation/les/decaying_homogeneous_isotropic_turbulence.jl
Labels: numerics 🧮

#4497 Add distributed reductions
  src/DistributedComputations/distributed_fields.jl
  src/Fields/field.jl
  test/test_distributed_models.jl
Labels: distributed 🕸️

#4505 Fix some `FieldTimeSeries` indexing bugs
  src/OutputReaders/field_time_series.jl
  src/OutputReaders/set_field_time_series.jl
Labels: output 💾

#4537 Fix `VarianceDissipation` docstring links
  src/Models/VarianceDissipationComputations/VarianceDissipationComputations.jl
  src/Models/VarianceDissipationComputations/compute_dissipation.jl
  src/Models/VarianceDissipationComputations/flatten_dissipation_fields.jl
Labels: documentation 📜

#4536 Splitting `substep_turbulent_kinetic_energy!` into two kernels
  src/TurbulenceClosures/turbulence_closure_implementations/TKEBasedVerticalDiffusivities/time_step_catke_equation.jl
  src/TurbulenceClosures/turbulence_closure_implementations/TKEBasedVerticalDiffusivities/tke_dissipation_equations.jl
Labels: numerics 🧮, turbulence closures 🎐

#4503 Clean up `update_boundary_conditions!`
  src/BoundaryConditions/update_boundary_conditions.jl
  src/Models/HydrostaticFreeSurfaceModels/update_hydrostatic_free_surface_model_state.jl
  src/Models/NonhydrostaticModels/update_nonhydrostatic_model_state.jl
  src/Models/boundary_mean.jl
Labels: cleanup 🧹, boundary conditions 🏓
